{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create Pengantaran Farmasi
{% endblock title %}

{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Create Pengantaran Farmasi</h1>
  <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">      
      <form  method="POST" action="{% url 'pengantaran_farmasi:createPengantaranFarmasi' %}">
        {% csrf_token %}
        <!-- ID APOTEK -->
        <div class="loginForm">{{form.as_p}}</div>
        <br>

        <input type="submit" value="Create" name="tombol" class="mybutton">
      </form>
    </div>
  </div>
</div>
{% endblock content %}