{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update Produk Dibeli
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Update Produk Dibeli</h1>
  <h2 class="message">{{message}}</h2>
  
    <div class="row justify-content-center">
      <div class="login">      
        <form  method="POST" action="{% url 'produk_dibeli:updateProdukDibeli' id_apotek id_produk id_transaksi_pembelian %}">
          {% csrf_token %}
          <!-- ID APOTEK -->
          <p>
            <!-- <label for="id_id_apotek">ID Apotek:</label> -->
            <!-- <div class="loginForm">
              <p>
                <label for="id_id_apotek">ID Apotek:</label>
                <input type="select">
                {{form.id_apotek}}
              </p>
            </div> -->
            <div class="loginForm">{{form.as_p}}</div>
          </p>
          <input type="submit" value="Update" name="tombol" class="mybutton">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}