{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update Transaksi Pembelian
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Update Transaksi Pembelian</h1>
  <h2 class="message">{{message}}</h2>

  <div class="row mainRow align-items-center justify-content-center">
    <div class="login">      
      <form  method="POST" action="/updateTP/">
        {% csrf_token %}
        <div class="loginForm">{{form.as_table}}</div>

        <label style="color: white;" for="id_konsumen">ID Konsumen:</label>
        
        <select class="form-control" name="id_konsumen_select" id="id_konsumen_select exampleSelect1">
          {%for row in opt %}
          <option value="{{row.id_konsumen}}">{{row.id_konsumen}}</option>
          {% endfor %}
        </select>

        <input type="submit" value="Update" name="tombol" class="mybutton">
      </form>
    </div>
  </div>
</div>
{% endblock content %}