* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@font-face {
    font-family: 'voice_in_my_headregular';
    src: url('../font/voice_in_my_head-webfont.woff2') format('woff2'),
         url('../font/voice_in_my_head-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    min-width: 360px;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    max-width: 220vh;
}


header li{
    display: inline;
}
header nav{
    float: right;
    text-align: right;
}

#logo {
    width: 50%;
    font-family: 'voice_in_my_headregular';
    font-size: 24px;    
    /* background-image: url(https://dewey.tailorbrands.com/production/brand_version_mockup_image/143/2257068143_f47f936c-3d5a-4309-8f41-bced1b231799.png?cb=1569085482); */
}

.background-contact{
    background-image: url(../images/bawah-min.jpg);
    background-size: cover;
    background-position-y: -50px;
    /* z-index: -1; */
    background-attachment: fixed;
}

.contact{
    min-height: 630px;
    padding-top: 65px;
    color: white;
}

.tulisan-contact h2{
    text-shadow: 3px 3px 4px black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 20px;
}

.margin_contact{
    margin-top: 2%;
}

.margin_contact li{
    list-style-type: none;
}


.margin_contact p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.icon a{
    font-size: 24px;
    text-decoration: none;
    color: white;    
}

.icon a:hover{
    color: #BAE6FF;
}

.margin-icon{
    
    padding-right: 0;
    margin-right: -40px;
    font-size: 16px;
}

 
#fotoprof{
    box-shadow: 15px 15px 15px black;
    width: 277px;
    height: 412px;
} 

.margin-about{
    padding-top: 7%;
}

.margin-about h2{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.margin-about p{
    margin-top: 15px;
}

#nama{
    color: #BAE6FF;
}

.margin-foto{
    padding-left: 15%;
}

.margin-profile{
    margin-top: 0%;
    padding-top: 5%;
    margin-bottom: 11%;
}

.fotobg{
    box-sizing: border-box;
    height: 105vh;
    padding: 15vw 0 5vw;
    transform-style: inherit;
    color: white;
}


#tulisan{
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

#tulisan h1{
    font-weight: bold;
    font-style: italic;
    font-size: 80px;
}

#tulisan h3{
    font-size: 16px;
}

.navbar{
    background: rgba(0, 0, 0, 0.6);
}

.navbar li{
    font-size: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.skills{
    width: 750px;
    margin: 60px auto;
    color: black
}

.skills li{
    margin: 20px 0;
}

.bar{
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.bar span{
    height: 2px;
    float: left;
    background: black;
}

.java{
    width: 80%;
    animation: java 2s;
}
.python{
    width: 70%;
    animation: python 2s;
}
.html{
    width: 70%; 
    animation: html 2s;
}
.css{
    width: 55%; 
    animation: css 2s;
}
.ps{
    width: 70%;
    animation: ps 2s;
}
.leadership{
    width: 75%; 
    animation: leadership 2s;
}
.biru{
    color: #BAE6FF;
}
.margin-skill{
    padding-top: 8%;
    padding-bottom: 55px;
    /* width: 360px; */
}

.margin-skill h1{  
    text-shadow: 1px 1px 1px black;
    font-size: 40px;
    font-weight: bold;
}

.margin-skill h3{
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
}

.cv{
    font-size: 20px;
    padding: 5px 25px 5px 25px;
    border: 2px solid black;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.margin-cv{
    top: 330px;
    left: 270px;

}

.keterangan{
    margin-top: 0;
}

.keterangan li{
    margin-top: 3px;
    margin-bottom: 3px;
}

#background{
    background-image: url(../images/coba-min.jpg);
    background-size: cover;
    background-position-y: -100px;
    background-attachment: fixed;
}

.link-cv a:hover{
    background: #BAE6FF;
    color: black;
    font-weight: bold;
    border: 3px solid black;
}

.link-cv a{
    text-decoration: none;
}

.hero {
    /* min-height: 100%; */
    position: relative;
    overflow: hidden;
}

.hero::before{
    background-repeat: no-repeat;
    content: '';
    /* height: 100%; */
    left: 0;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}

#education{
    text-align: center;
    padding-bottom: 7%;
}

#judul{
    text-shadow: 1px 1px 1px black;
    font-size: 40px;
    font-weight: bold;
    padding-top: 6%;
    padding-bottom: 11%;

}
#education h2{
    margin-top: 30px;
    font-size: 24px;
}

#education p{
    font-size: 16px;
    margin-top: 3px;
}

.ukuran-foto{
    max-width: 200px;
    max-height: 200px;
}

.nav-atas a:hover{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 0px;
}


@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
@keyframes ps{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes leadership{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

@media (max-width:360px){
    
    #background{
        background-size: cover;
        background-position-y: 0px;
        background-attachment: fixed;
    }

    .fotobg{
        height: 95vh;
        padding: 15vw 0 5vw;
    }

    #tulisan{
        padding-top: 25%;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 3px 3px 4px black;
    }

    #tulisan h1{
        font-weight: bold;
        font-style: italic;
        font-size: 40px;
    }

    #tulisan h3{
        font-size: 20px;
    }


    .margin-about{
        padding-top: 7%;
    }
    
    .margin-about h2{
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
    }
    
    .margin-about p{
        text-align: center;
        font-size: 15px;
        margin-top: 10%;
    }
    .margin-foto{
        padding-left: 0%;
        text-align: center;
    }

    #fotoprof{
        box-shadow: 15px 15px 15px black;
        width: 190px;
        height: 250px;
    } 
    .margin-skill{
        padding-top: 8%;
        padding-bottom: 55px;
        width: 360px;
    }
    
    .margin-skill h1{  
        text-shadow: 1px 1px 1px black;
        font-size: 25px;
        font-weight: bold;
    }
    
    .margin-skill h3{
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
    }
    .skills{
        width: 340px;
        margin: 60px auto;
        color: black
    }
    .skills li{
        margin: 20px 0;
    }
    .cv{
        font-size: 15px;
        padding: 5px 25px 5px 25px;
    }
    
    .margin-cv{
        top: -65px;
        left: 0px;
        text-align: center;
    }
    #judul{
        text-align: center;
        font-size: 25px;
        padding-top: 6%;
        padding-bottom: 11%;
    
    }
    .background-contact{
        background-image: url(../images/bawah-min.jpg);
        background-size: cover;
        background-position-y: 100px;
        background-position-x: -30px;
        /* z-index: -1; */
        background-attachment: fixed;
    }
    
    .contact{
        min-height: 630px;
        padding-top: 65px;
        color: white;
    }
    
    .tulisan-contact h2{
        text-shadow: 3px 3px 4px black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .margin_contact{
        margin-top: 2%;
    }
    
    .margin_contact li{
        list-style-type: none;
    }
    
    
    .margin_contact p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}