@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@300;500;700&display=swap');

body {background-color: white;
    font-family: 'Barlow Condensed';
    color: #303030;
    /* height: 100vh; */
    overflow-y: auto;
}

::selection {
    color: white;
    background: #2AA153;
  }

nav {
    height: 60px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}

a {color: #303030;}
a:hover {color: #303030; text-decoration: none;}

h1 {font-family: 'Jost';}
h2 {font-family: 'Jost';}

.message {
    text-align: center; color: #303030; 
    font-size: 24px; 
    margin-bottom: 30px;
    color: #ED6868;
}

.col {
    padding-left: 0px;
    padding-right: 0px;
}

.welcome {
    color: #2AA153;
}

.divider {height: 100px;}
.small {height: 30px;}

.header {
    background-image: url('../images/header_back.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 60px 0px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}

.title {font-family: 'Jost'; font-size: 24px; margin-top: 30px;}

.menu {
    /* padding: 30px; */
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 15px;
    border-radius: 15px;
    transition: 150ms;
}

.menu:hover {box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), inset 0px 0px 10px rgba(0, 0, 0, 0.25);}
.menu p {margin-bottom: 0px; font-size: 24px; color: #303030;}
.menu img {width: 80px; margin-bottom: 20px; margin-top: 30px;}

.menu:hover .add_item {
    display: block;
}

.add_item {
    color: white !important;
    background-color: #2AA153;
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 36px !important;
    font-weight: 700;
    line-height: 36px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 0.5px solid #2AA153;
    display: none;
    transition: ease;
}

.add_item:hover {
    color: #2AA153 !important;
    background-color: white;
}

.loginForm .menu {
    padding: 20px;
}

.list_title {color: #2AA153; margin: 60px; text-align: center;}

.mybutton {
    background-color: #2AA153;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0.5px solid #2AA153;
    transition: 50ms;
}

.mybutton:hover {
    background-color: white;
    color: #2AA153;
}

.butwhite {
    background-color: white;
    border: 0.5px solid #2AA153;
    color: #2AA153;
}

.butwhite:hover {
    background-color: #2AA153;
    color: white;
}

.butred {
    background-color: white;
    border: 0.5px solid #ED6868;
    color: #ED6868;
}

.butred:hover {
    background-color: #ED6868;
    color: white;
}

.login{
    text-align:center;
    width:50%;
}
  
.login input{
    display:block;
    margin:20px auto;
    text-align:center;
    font-weight:bold;
    transition:all 300ms ease-in-out;
}
  
.login input[type="text"],.login input[type="password"]{
    line-height:50px;
    padding:0 10px;
    /* border-radius:5px; */
    /* border:0; */
    width:50%;
    /* background:rgba(255,255,255,0.9); */
    border: 0.5px solid #2AA153 !important;
}

label {
    color: #303030 !important;
    font-size: 18px;
}

.loginForm{
    color: #2AA153;
    height: 100%;
    font-size: 18px;
    /* letter-spacing: 5px; */
}
  
.login input[type="text"]:focus,.login input[type="password"]:focus{
    width:80%;
    /* background:rgba(255,255,255,1); */
    /* background: #2AA153; */
    background-color: white;
    border: 0.5px solid #2AA153;
    box-shadow: 0px 2px 10px rgba(88, 216, 131, 0.5);
}

.login_back {
    width: 100%;
    height: 100vh;
    background: url('../images/login_back.png'), linear-gradient(119.99deg, #69E393 2.49%, #3EB667 106.57%);
    /* background-image: url('../images/login_back.png'); */
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;
}

.login_back label {
    color: white !important;
}

.userName {
    font-size: 36px;
}
  