{% extends 'base.html' %}
{% load static %}

{% block title %}
    Produk Apotek
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Produk Apotek</h1>
    <h2 class="message">{{message}}</h2>
    <div class="row justify-content-center">
        {% if roleAdmin %}
        <a href="{% url 'produkApotek:createProdukApotek' %}" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
        {% endif %}
        <table class="table table-hover table-striped">
            <thead class="text-center myTable">
                <tr>
                    <th style="text-align: center; vertical-align: middle;" scope="col">ID Produk</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">ID Apotek</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Harga Jual</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Satuan Penjualan </th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Stok</th>
                    {% if roleAdmin %}
                    <th style="text-align: center; vertical-align: middle;" scope="col">Edit</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="text-center">
            {%for row in table %}
                <tr class="table-striped">
                <th scope="row">{{row.id_produk}}</th>
                <th scope="row">{{ row.id_apotek }}</th>
                <td>{{ row.harga_jual }}</td>
                <td>{{ row.satuan_penjualan }}</td>
                <td>{{ row.stok }}</td>
                {% if roleAdmin %}
                <td><a href="{% url 'produkApotek:updateProdukApotek' row.id_apotek row.id_produk %}" class="mybutton butwhite" role="button">EDIT</a></td>
                <td><a href="{% url 'produkApotek:deleteProdukApotek' row.id_apotek row.id_produk %}" class="mybutton butred" role="button">DELETE</a></td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}