{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update Produk Apotek
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Update Produk Apotek</h1>
  <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">   
      <form  method="POST" action="{% url 'produkApotek:updateProdukApotek' idApotekForm idProdukForm %}">
        {% csrf_token %}
        <label class="label" style="color: white;" for="id_produk">ID Produk:</label>
        
        <select class="form-control" name="id_produk" id="id_produk" >
          {%for row in id_produk %}
          <option value= "{{ idProdukForm }}" selected hidden>{{ idProdukForm }}</option>
          <option value="{{row.id_produk}}">{{row.id_produk}}</option>
          {% endfor %}
        </select>
        <br>
        <label class="label" style="color: white;" for="id_apotek">ID Apotek:</label>
        
        <select class="form-control" name="id_apotek" id="id_apotek" >
          {%for row in id_apotek %}
          <option value= "{{ idApotekForm }}" selected hidden>{{ idApotekForm }}</option>
          <option value="{{row.id_apotek}}">{{row.id_apotek}}</option>
          {% endfor %}
        </select>
        <br>
        <div class="loginForm">{{form.as_p}}</div>
        <br>
        <input type="submit" value="Update" name="tombol" class="mybutton">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
