<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <title>home</title>
</head>
<body>

    <div class="container-fluid">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="jumbotron">
                <h1 class="header">Homepage FarmaKami</h1>
                <hr class="my-4">
                <br>
                {%for row in hasil %}
                    <h5 class="welcomeText">Selamat Datang 
                    <br>
                    <p class="userName"><i>{{row.nama_lengkap}}</i></p>
                    <a href="{% url 'profil' %}" class="btn btn-profil" role="button">PROFIL SAYA</a>
                    </h5>
                    <!-- <h5 class="infoUser">{{row.nama_lengkap}}</h>  -->
                {% endfor %}
                        

                <br><br><br>

                <p class="title" style="text-align: center;">Balai Pengobatan & Apotek</p>
                <div class="row justify-content-center">
                    <a href="{% url 'balaipengobatan:bpcreate' %}" class="btn btn-secondary" role="button">Buat Balai Pengobatan</a>
                    <a href="{% url 'balaipengobatan:bplist' %}" class="btn btn-secondary" role="button">List Balai Pengobatan</a>
                    <a href="{% url 'apotek:createApotek' %}" class="btn btn-secondary" role="button">Buat Apotek</a>
                    <a href="{% url 'apotek:tableApotek' %}" class="btn btn-secondary" role="button">Daftar Apotek</a>
                </div>

                <br><br>

                <p class="title" style="text-align: center;">Produk-Apotek</p>
                <div class="row justify-content-center">
                    <a href="{% url 'produkApotek:createProdukApotek' %}" class="btn btn-secondary" role="button">Buat Produk-Apotek</a>
                    <a href="{% url 'produkApotek:tableProdukApotek' %}" class="btn btn-secondary" role="button">Daftar Produk-Apotek</a>
                </div>
                
                <br><br>

                <p class="title" style="text-align: center;">Obat & Alat Medis</p>
                <div class="row justify-content-center">
                    <a href="{% url 'obat:obatcreate' %}" class="btn btn-secondary" role="button">Buat Obat</a>
                    <a href="{% url 'obat:obatlist' %}" class="btn btn-secondary" role="button">List Obat</a>
                    <a href="/form_create_alat_medis/" class="btn btn-secondary" role="button">Buat Alat Medis</a>
                    <a href="/read_alat_medis/" class="btn btn-secondary" role="button">Daftar Alat Medis </a>
                </div>
                

                <br><br>

                <p class="title" style="text-align: center;">List Produk Dibeli</p>
                <div class="row justify-content-center">
                    <a href="{% url 'produk_dibeli:createProdukDibeli' %}" class="btn btn-secondary" role="button">Buat List Produk Dibeli</a>
                    <a href="{% url 'produk_dibeli:readProdukDibeli' %}" class="btn btn-secondary" role="button">Daftar Produk Dibeli</a>
                </div>

                <br><br>

                <p class="title" style="text-align: center;">Pengantaran Farmasi</p>
                <div class="row justify-content-center">
                    <a href="{% url 'pengantaran_farmasi:createPengantaranFarmasi' %}" class="btn btn-secondary" role="button">Buat Pengantaran Farmasi</a>
                    <a href="{% url 'pengantaran_farmasi:readPengantaranFarmasi' %}" class="btn btn-secondary" role="button">Daftar Pengantaran Farmasi</a>
                </div>

                <br><br>

                <p class="title" style="text-align: center;">Transaksi Pembelian & Transaksi Resep</p>
                <div class="row justify-content-center">
                    <a href="/formCT/" class="btn btn-secondary" role="button">Buat Transaksi Pembelian</a>
                    <a href="/readTP/" class="btn btn-secondary" role="button">Daftar Transaksi Pembelian</a>
                    <a href="/form_create_transaksi_resep/" class="btn btn-secondary" role="button">Buat Transaksi Resep</a>
                    <a href="/read_transaksi_resep/" class="btn btn-secondary" role="button">Daftar Transaksi Resep</a>
                </div>

                <br><br><br>

            </div>
        </div>
    </div>

                
    
</body>
</html>



