{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Profile
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Profile</h1>
    <div class="container-fluid">
        <div class="col-md-8 offset-md-2 mt-5">
              {%for row in hasil %}
              <p class="userName"><b>{{row.nama_lengkap}}</b></p>
              <p style="font-size: 24px;">{{role}}</p>
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Keterangan</th>
                    </tr>
                </thead>
                <tbody>
                  <tr class="table-striped">
                    <th scope="row">Email</th>
                    <td>{{row.email}}</td>
                  </tr>
                  <tr class="table-striped">
                    <th scope="row">Telepon</th>
                    <td>{{row.telepon}}</td>
                  </tr>
                  {% if roleAdmin %}
                  <tr class="table-striped">
                    <th scope="row">Id Apotek</th>
                    <td>{{id_apotek}}</td>
                  </tr>
                  {% endif %}
                  {% if roleKurir %}
                  <tr class="table-striped">
                    <th scope="row">Id Kurir</th>
                    <td>{{id_kurir}}</td>
                  </tr>
                  <tr class="table-striped">
                    <th scope="row">Nama Perusahaan</th>
                    <td>{{nama_perusahaan}}</td>
                  </tr>
                  {% endif %}
                  {% if roleKonsumen %}
                  <tr class="table-striped">
                    <th scope="row">Id Konsumen</th>
                    <td>{{id_konsumen}}</td>
                  </tr>
                  <tr class="table-striped">
                    <th scope="row">Jenis Kelamin</th>
                    <td>{{jenis_kelamin}}</td>
                  </tr>
                  <tr class="table-striped">
                    <th scope="row">Tanggal Lahir</th>
                    <td>{{tanggal_lahir}}</td>
                  </tr>
                    {%for row in data_alamat %}
                    <tr class="table-striped">
                      <th scope="row">Alamat</th>
                      <td>{{row.alamat}}, {{row.status}}</td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                  {% if roleCS %}
                  <tr class="table-striped">
                    <th scope="row">No KTP</th>
                    <td>{{no_ktp}}</td>
                  </tr>
                  <tr class="table-striped">
                    <th scope="row">No SIA</th>
                    <td>{{no_sia}}</td>
                  </tr>
                  {% endif %}
                </tbody>
            </table> 
            <a href="{% url 'logout' %}" class="mybutton" role="button">Log Out</a>
            </h5>
            {% endfor %}
        </div>
    </div>
{% endblock content %}