<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <title>Farmakami | Sign Up
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/back_anim.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script src="{% static 'js/test6.js' %}"></script>
</head>
<body class="login_back area">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/test6.js' %}" type="text/javascript"></script>
  <div class="divider"></div>
      <div class="container-fluid">
        <div class="row mainRow align-items-center justify-content-center">
          <div class="login">      
            <h2 class="headerText">Sign Up</h2>
            <br>
            <br>

            {% if formrole %}
            <form method="POST" action="/RegisterRole/" >
                {% csrf_token %}
                <div class="loginForm">
                  <p class="choiceRole"><label for="id_Role_0">Pilih Role:</label></p>
                  <!-- <div class="container"> -->
                    <ul class="row justify-content-between" id="id_Role">
                      <div class="col">
                        <label for="id_Role_0">
                          <div class="menu">
                            <img src="{% static 'images/icons/admin.svg' %}" alt="">
                            <p>Admin</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Admin" required="" id="id_Role_0">
                      </div>
                      <div class="col">
                        <label for="id_Role_1">
                          <div class="menu">
                            <img src="{% static 'images/icons/konsumen.svg' %}" alt="">
                            <p>Konsumen</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Konsumen" required="" id="id_Role_1">
                      </div>
                      <div class="col">
                        <label for="id_Role_2">
                          <div class="menu">
                            <img src="{% static 'images/icons/kurir.svg' %}" alt="">
                            <p>Kurir</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Kurir" required="" id="id_Role_2">
                      </div>
                      <div class="col">
                        <label for="id_Role_3">
                          <div class="menu">
                            <img src="{% static 'images/icons/cs.svg' %}" alt="">
                            <p>CS</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="CS" required="" id="id_Role_3">
                      </div>
                    </ul>
                  <!-- </div> -->
                </div>
                <br>
                <input class="mybutton butwhite" type="submit" value="Register" name="tombol">
            </form>    
            {% endif %}
            
            {% if roleAdmin %}
            <form method="POST" action="/insertAdmin/" >
                {% csrf_token %}
                    <div class="loginForm">{{form.as_table}}</div>
                    <br>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>    
            {% endif %}

            {% if roleKurir %}
            <form method="POST" action="/insertKurir/" >
                {% csrf_token %}
                    <div class="loginForm">{{form.as_table}}</div>
                    <br>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>    
            {% endif %}

            {% if roleCS %}
            <form method="POST" action="/insertCS/" >
                {% csrf_token %}
                    <div class="loginForm">{{form.as_table}}</div>
                    <br>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>    
            {% endif %}

            {% if roleKonsumen %}
            <form method="POST" action="/insertKonsumen/" >
                {% csrf_token %}
                <div class="loginForm container1">
                    {{form.as_table}}
                    <br>
                    <label>Alamat:</label>
                </div>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>   
            <input type="submit" value="Tambah Alamat" name="tombol" class="mybutton butwhite add_form_field">
            {% endif %}
            
        <p class="text--center" style="color: white;background-color: grey;border-radius: 7px;">{{message}}</p>
        </div>
    </div>
    <div class="divider"></div>



    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
</body>
</html>

<!-- 

<div class="containerOuter">
  <div class="container">
    <input type="radio" class="hidden" id="input1" name="inputs">
    <label class="entry" for="input1"><div class="circle"></div><div class="entry-label">Kingdom</div></label>
    <input type="radio" class="hidden" id="input2" name="inputs">
    <label class="entry" for="input2"><div class="circle"></div><div class="entry-label">Horse</div></label>
    <input type="radio" class="hidden" id="input3" name="inputs">
    <label class="entry" for="input3"><div class="circle"></div><div class="entry-label">Computer</div></label>
    <div class="highlight"></div>
    <div class="overlay"></div>
  </div>
</div>
<svg width="0" height="0" viewBox="0 0 40 140">
  <defs>
    <mask id="holes">
      <rect x="0" y="0" width="100" height="140" fill="white" />
      <circle r="12" cx="20" cy="20" fill="black"/>
      <circle r="12" cx="20" cy="70" fill="black"/>
      <circle r="12" cx="20" cy="120" fill="black"/>
    </mask>
  </defs>
</svg> -->

