{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create Balai Pengobatan
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Create Balai Pengobatan</h1>
    <h2 class="message">{{message}}</h2>
    <br>
        <div class="row justify-content-center">
        <div class="login">      
            <form  method="POST" action="{% url 'balaipengobatan:bpcreate' %}">
            {% csrf_token %}
                <div class="loginForm">{{ form.as_p }}</div>
                <br>
                <!-- <label class="loginForm" for="asosiasi">Daftar ID Apotek berasosiasi:</label>
                <select class="form-control" name="asosiasi" id="asosiasi_select exampleSelect1">
                    {% for item in table %}
                    <option value="{{item.asosiasi}}">{{ item.asosiasi }}</option>
                    {% endfor %}
                </select> -->
                <br>             
                <input type="submit" value="Create" name="tombol" class="mybutton">
            </form>
            
        </div>
    </div>
</div>
{% endblock content %}