{% extends 'base.html' %}
{% load static %}

{% block title %}
    Obat
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Obat</h1>
  <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    {% if roleAdmin %}
    <a href="{% url 'obat:obatcreate' %}" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id Obat</th>
            <th scope="col">Id Produk</th>
            <th scope="col">Id Merk Obat</th>
            <th scope="col">Netto</th>
            <th scope="col">Dosis</th>
            <th scope="col">Aturan Pakai</th>
            <th scope="col">Kontraindikasi</th>
            <th scope="col">Bentuk Kesediaan</th>
            {% if roleAdmin %}
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody class="listObat">
        {% for item in table %}
          <tr>
              <td>{{ item.id_obat }}</td>
              <td>{{ item.id_produk }}</td>
              <td>{{ item.id_merk_obat }}</td>
              <td>{{ item.netto }}</td>
              <td>{{ item.dosis }}</td>
              <td>{{ item.aturan_pakai }}</td>
              <td>{{ item.kontraindikasi }}</td>
              <td>{{ item.bentuk_kesediaan }}</td>
              {% if roleAdmin %}
              <td><a href="{% url 'obat:updateobat' item.id_obat item.id_produk item.id_merk_obat %}" class="mybutton butwhite" role="button">EDIT</a></td>
              <td><a href="{% url 'obat:deleteobat' item.id_obat item.id_produk %}" class="mybutton butred" role="button">DELETE</a></td>
              {% endif %}
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}