{% extends 'base.html' %}
{% load static %}

{% block title %}
    Balai Pengobatan
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Balai Pengobatan</h1>
  <h2 class="message">{{message}}</h2>
  
  <div class="row justify-content-center">
    {% if roleAdmin %}
    <a href="{% url 'balaipengobatan:bpcreate' %}" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
    {% endif %}
    <table class="table table-striped">
      <thead>
        <tr>
            <th scope="row">Id Balai</th>
            <th scope="row">Alamat Balai</th>
            <th scope="row">Nama Balai</th>
            <th scope="row">Jenis Balai</th>
            <th scope="row">Telepon Balai</th>
            <th scope="row">Apotik Asosiasi</th>
            {% if roleAdmin %}
            <th scope="row">Edit</th>
            <th scope="row">Delete</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for row in table %}
        <tr>
          <td>{{ row.id_balai }}</td>
          <td>{{ row.alamat_balai }}</td>
          <td>{{ row.nama_balai }}</td>
          <td>{{ row.jenis_balai }}</td>
          <td>{{ row.telepon_balai }}</td>
          <td>{{ row.id_apotek }}</td>
          {% if roleAdmin %}
          <td><a href="{% url 'balaipengobatan:updatebp' row.id_balai %}" class="mybutton butwhite" role="button">EDIT</a></td>
          <td><a href="{% url 'balaipengobatan:deletebp' row.id_balai %}" class="mybutton butred" role="button">DELETE</a></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}